ascii-graph==1.2.0
bintrees==2.0.4
ecdsa==0.13
Fabric==1.12.0
funcsigs==1.0.2
future==0.16.0
mock==2.0.0
numpy==1.11.2
Optunity==1.1.1
pandas==0.19.1
paramiko==1.17.2
pbr==1.10.0
pudb==2016.2
pycrypto==2.6.1
Pygments==2.1.3
-e git://github.com/danielktaylor/PyLimitBook@469eff06a316e336e611d9bcd6422998c93e5905#egg=pylimitbook
python-dateutil==2.6.0
pytz==2016.7
six==1.10.0
testfixtures==4.13.1
urwid==1.3.1
